//- views/packing/packing-create.pug  – überarbeitetes „Create“-Formular
extends ../layout

block meta
    title Create Drivers List | PackMaster

block title
    h1.card-header.text-center
        i.bi.bi-car-front.me-2
        | Create drivers list

block content
    -
        let parsed = {}, parsedData = [];
        if (data) {
            if (data.entity) {
                parsed = data.entity;
            } else {
                parsed = data;
            }
            if (data.data) {
                parsedData = data.data;
            } else {
                parsedData = data.items;
            }
        }

        let eventIdQuery = '';
        if (parsed.eventId) {
            eventIdQuery = `?eventId=${parsed.eventId}`
        }

    form#packingForm(action=`/drivers/create${eventIdQuery}` method="POST")
        // Titel
        .mb-3
            label.form-label(for="title")
                i.bi.bi-tag.me-1
                | Title *
            input#title.form-control.text-bg-dark(
                type="text"
                name="title"
                required
                value=(parsed.title || ''))

        // Optionen
        .row.mb-3
            .col-md-6
                .form-check
                    input#allowAdd.form-check-input(type="checkbox" name="allowGuestAdd" checked=!!parsed.allowGuestAdd)
                    label.form-check-label(for="allowAdd")
                        i.bi.bi-plus-circle.me-1
                        | Guests can add items
            .col-md-6
                .form-check
                    input#guestManage.form-check-input(type="checkbox" name="guestManage" checked=!!parsed.guestManage)
                    label.form-check-label(for="guestManage")
                        i.bi.bi-exclamation-triangle.me-1
                        | Guests may manage list
                        span.badge.bg-danger.ms-1 DANGER

        .row.mb-3
            .col-md-12
                label.form-label(for="desc")
                    i.bi.bi-pencil-square.me-1
                    | Description
                textarea#desc.form-control.text-bg-dark(name="description")
                    | #{parsed.description || ''}

        // Buttons
        .d-flex.justify-content-between.align-items-center
            button.btn.btn-success(type="submit")
                i.bi.bi-check-lg.me-1
                | Create list
        input(type="hidden" name="items" id="itemsJson")

block scripts
    script(type="module", src="/js/drivers-create.gen.js")
    if data && data.isDuplicate
        script.
            window.PREFILLED_ITEMS = [];
            window.IS_MANAGE = true;