//- views/layout.pug – Main layout with improved navigation & footer
//- Define mixins
include modules/module_role_assignment_addon
include modules/module_timezone_select
include modules/module_entity_list
include modules/module_entity_select
include modules/module_perm_matrix
include modules/module_admin_matrix
include modules/module_admin_options
include modules/module_registration_links
include modules/module_event_participants
include modules/module_invoice_pool

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        block meta

        //── Favicons ────────────────────────────────────────────────
        link(rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png")
        link(rel="icon" type="image/png" sizes="200x200" href="/img/logo.png")

        //── CSS ────────────────────────────────────────────────────
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css")
        link(rel="stylesheet" href="/style/style.css")
        block link

        script.
            window.Surveyor = {};

    body(class="d-flex flex-column min-vh-100 bg-secondary" onload="window.Surveyor.init()")

        //── Navbar ────────────────────────────────────────────────────
        header
            nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.shadow-sm
                .container
                    a.navbar-brand.d-flex.align-items-center(href="/")
                        img(src="/img/logo.png" alt="Surveyor" height="30" class="me-2")
                        span.fw-semibold Surveyor

                    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarMain", aria-controls="navbarMain", aria-expanded="false", aria-label="Toggle navigation")
                        span.navbar-toggler-icon

                    .collapse.navbar-collapse#navbarMain
                        // Left side: primary navigation
                        ul.navbar-nav.me-auto.mb-2.mb-lg-0
                            // Home
                            li.nav-item
                                a.nav-link(href="/")
                                    i.bi.bi-house-fill.me-1
                                    | Home

                            // "New" dropdown – all creation flows in one place
                            li.nav-item.dropdown
                                a.nav-link.dropdown-toggle(href="#" id="navCreate" role="button" data-bs-toggle="dropdown" aria-expanded="false")
                                    i.bi.bi-plus-circle.me-1
                                    | New
                                ul.dropdown-menu(aria-labelledby="navCreate")
                                    li
                                        h6.dropdown-header Plan & decide
                                    li
                                        a.dropdown-item(href="/survey/create")
                                            i.bi.bi-bar-chart-steps.me-2
                                            | Survey
                                    li
                                        a.dropdown-item(href="/activity/create")
                                            i.bi.bi-calendar2-check.me-2
                                            | Activity plan
                                    li
                                        a.dropdown-item(href="/event/create")
                                            i.bi.bi-calendar2-event.me-2
                                            | Event
                                    li
                                        hr.dropdown-divider
                                    li
                                        h6.dropdown-header Organize & share
                                    li
                                        a.dropdown-item(href="/packing/create")
                                            i.bi.bi-bag-plus.me-2
                                            | Packing list
                                    li
                                        a.dropdown-item(href="/drivers/create")
                                            i.bi.bi-car-front.me-2
                                            | Drivers list

                            // "Overview" dropdown – where people see & manage things
                            li.nav-item.dropdown
                                a.nav-link.dropdown-toggle(href="#" id="navOverview" role="button" data-bs-toggle="dropdown" aria-expanded="false")
                                    i.bi.bi-collection.me-1
                                    | Overview
                                ul.dropdown-menu(aria-labelledby="navOverview")
                                    li
                                        a.dropdown-item(href="/users/dashboard")
                                            i.bi.bi-speedometer2.me-2
                                            | Your overview
                                    li
                                        a.dropdown-item(href="/users/manage-dashboard")
                                            i.bi.bi-people-fill.me-2
                                            | Managed items
                                    //-
                                        li
                                            hr.dropdown-divider
                                        li
                                            a.dropdown-item(href="/event")
                                                i.bi.bi-calendar3.me-2
                                                | Events

                        // Right side: user account
                        ul.navbar-nav.ms-auto
                            if user
                                li.nav-item.dropdown
                                    a.nav-link.dropdown-toggle(href="#" id="userMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false")
                                        i.bi.bi-person-circle.me-1
                                        | #{user.username}
                                    ul.dropdown-menu.dropdown-menu-end(aria-labelledby="userMenu")
                                        li
                                            a.dropdown-item(href="/users/dashboard")
                                                i.bi.bi-speedometer2.me-1
                                                | Your overview
                                        li
                                            a.dropdown-item(href="/users/manage-dashboard")
                                                i.bi.bi-people-fill.me-1
                                                | Managed items
                                        //li
                                            a.dropdown-item(href="/users/settings")
                                                i.bi.bi-gear-fill.me-1
                                                | Settings
                                        li.dropdown-divider
                                        li
                                            a.dropdown-item.text-danger(href="/users/logout")
                                                i.bi.bi-box-arrow-right.me-1
                                                | Logout
                            else
                                li.nav-item.me-1
                                    a.nav-link(href="/users/login")
                                        i.bi.bi-box-arrow-in-right.me-1
                                        | Login
                                li.nav-item
                                    a.nav-link(href="/users/register")
                                        i.bi.bi-person-plus.me-1
                                        | Register

        //── Main Content ───────────────────────────────────────────────
        main.container-fluid.flex-grow-1.py-3
            block alert
                include modules/module_alert

            block body
                .card.bg-dark.text-white.mb-3
                    block title
                    .card-body
                        block content

        //── Footer ────────────────────────────────────────────────────
        footer.bg-dark.text-white.text-center.py-2.mt-auto
            small
                |  Powered by
                a.text-white.text-decoration-none(href="https://github.com/JulianiusM/Surveyor") &nbsp;Surveyor
                |  v#{version} • All rights reserved. •&nbsp;
                a.text-white.text-decoration-none(href=settings.imprintUrl) Imprint
                |  •&nbsp;
                a.text-white.text-decoration-none(href=settings.privacyPolicyUrl) Privacy Policy

        //── JavaScript (bottom for better performance) ────────────────
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        script(src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js")
        if permData !== undefined
            script.
                window.Surveyor.rawPermissions = !{JSON.stringify(permData)};
        block scripts
            script(type="module" src="/js/stub.gen.js")
